<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982265726573-cgqmqfcffelogo5l7vhaockig6tm1ieo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982265726573-cgqmqfcffelogo5l7vhaockig6tm1ieo</string>
	<key>API_KEY</key>
	<string>AIzaSyDoOkkjkhR8LNApkhFQs1bnjfKGx_9y4JA</string>
	<key>GCM_SENDER_ID</key>
	<string>982265726573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yves.charpentier.Planets</string>
	<key>PROJECT_ID</key>
	<string>planetes-ebe66</string>
	<key>STORAGE_BUCKET</key>
	<string>planetes-ebe66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982265726573:ios:28a3bf7f71899be631a164</string>
</dict>
</plist>